<div class="flex-container">
    <div class="flex-item item1">
        <app-servicecountdown-time ></app-servicecountdown-time>
    </div>
    <div class="flex-item item2">
        <app-servicetime-limit >
        </app-servicetime-limit>
    </div>
    <div class="flex-item item3">
        <div class="flex-left">
            <app-servicestart-pause ></app-servicestart-pause>
        </div>
       
    </div>
    <div class="flex-item item4">
        <div class="flex-right">
            <app-servicelog-time-stamp ></app-servicelog-time-stamp>
        </div>
    </div>
</div>